<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876085241055-867ckhf51qd3f3pbo62a1bb4e837gbeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876085241055-867ckhf51qd3f3pbo62a1bb4e837gbeq</string>
	<key>API_KEY</key>
	<string>AIzaSyAp5_V9YoHzaJ7tWcPS3AAVLFnYxK-EKG0</string>
	<key>GCM_SENDER_ID</key>
	<string>876085241055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.volunteer</string>
	<key>PROJECT_ID</key>
	<string>volunteer-581ae</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteer-581ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876085241055:ios:03284247b6380100d1f56a</string>
</dict>
</plist>